In [2]:
import pandas as pd

In [3]:
p1 = pd.read_csv('dataset/Social_Network_Ads.csv')
p1.head(20)

     User ID  Gender  Age  EstimatedSalary  Purchased
0   15624510    Male   19            19000          0
1   15810944    Male   35            20000          0
2   15668575  Female   26            43000          0
3   15603246  Female   27            57000          0
4   15804002    Male   19            76000          0
5   15728773    Male   27            58000          0
6   15598044  Female   27            84000          0
7   15694829  Female   32           150000          1
8   15600575    Male   25            33000          0
9   15727311  Female   35            65000          0
10  15570769  Female   26            80000          0
11  15606274  Female   26            52000          0
12  15746139    Male   20            86000          0
13  15704987    Male   32            18000          0
14  15628972    Male   18            82000          0
15  15697686    Male   29            80000          0
16  15733883    Male   47            25000          1
17  15617482    Male   45            26000          1
18  15704583    Male   46            28000          1
19  15621083  Female   48            29000          1

In [6]:
p2 = pd.read_csv('dataset/Social_Network_Ads.csv')
p2.sample(20)

      User ID  Gender  Age  EstimatedSalary  Purchased
348  15579212    Male   39            77000          0
257  15794493    Male   40            57000          0
297  15705298  Female   43           112000          1
38   15671766  Female   26            72000          0
87   15631912  Female   28            85000          0
268  15746203  Female   47           144000          1
376  15596984  Female   46            74000          0
169  15579781  Female   29            47000          0
64   15605000  Female   59            83000          0
91   15636428  Female   30           116000          0
355  15606472    Male   60            34000          1
158  15762605    Male   26            30000          0
185  15814816    Male   31            66000          0
247  15775590  Female   57           122000          1
102  15584545  Female   32            86000          0
14   15628972    Male   18            82000          0
394  15757632  Female   39            59000          0
177  15594577    Male   25            22000          0
329  15639576  Female   47           107000          1
204  15660866  Female   58           101000          1

In [7]:
p3 = pd.read_csv('dataset/Social_Network_Ads.csv')
p3.tail(20)

      User ID  Gender  Age  EstimatedSalary  Purchased
380  15683758    Male   42            64000          0
381  15670615    Male   48            33000          1
382  15715622  Female   44           139000          1
383  15707634    Male   49            28000          1
384  15806901  Female   57            33000          1
385  15775335    Male   56            60000          1
386  15724150  Female   49            39000          1
387  15627220    Male   39            71000          0
388  15672330    Male   47            34000          1
389  15668521  Female   48            35000          1
390  15807837    Male   48            33000          1
391  15592570    Male   47            23000          1
392  15748589  Female   45            45000          1
393  15635893    Male   60            42000          1
394  15757632  Female   39            59000          0
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [10]:
# p4-1
df = pd.read_csv('dataset/Social_Network_Ads.csv')

selected_columns = ['Age', 'EstimatedSalary']
df_selected = df[selected_columns]

mean = df_selected.mean()
std = df_selected.std()

df_scaled = (df_selected - mean) / std

print(df_scaled.head(10))

        Age  EstimatedSalary
0 -1.779569        -1.488183
1 -0.253270        -1.458854
2 -1.111813        -0.784307
3 -1.016419        -0.373714
4 -1.779569         0.183521
5 -1.016419        -0.344386
6 -1.016419         0.418146
7 -0.539451         2.353802
8 -1.207207        -1.077589
9 -0.253270        -0.139089

In [18]:
# p4-2
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('dataset/Social_Network_Ads.csv')

selected_columns = ['Age', 'EstimatedSalary']
df_selected = df[selected_columns]

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_selected)

df_scaled = pd.DataFrame(df_scaled, columns=selected_columns)

print(df_scaled.head(10))

        Age  EstimatedSalary
0 -1.781797        -1.490046
1 -0.253587        -1.460681
2 -1.113206        -0.785290
3 -1.017692        -0.374182
4 -1.781797         0.183751
5 -1.017692        -0.344817
6 -1.017692         0.418669
7 -0.540127         2.356750
8 -1.208719        -1.078938
9 -0.253587        -0.139263

In [21]:
# p5
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

df = pd.read_csv('dataset/Social_Network_Ads.csv')

selected_columns = ['Age', 'EstimatedSalary']
df_selected = df[selected_columns]

scaler = StandardScaler()
df_scaled = scaler.fit_transform(df_selected)

df_scaled = pd.DataFrame(df_scaled, columns=selected_columns)


scaler = MinMaxScaler(feature_range=(0, 10))
df_std = df_scaled.head(10)
df_scaled = scaler.fit_transform(df_std)

df_scaled = pd.DataFrame(df_scaled, columns=df_std.columns)

print(df_scaled.head(10))

      Age  EstimatedSalary
0   0.000         0.000000
1  10.000         0.076336
2   4.375         1.832061
3   5.000         2.900763
4   0.000         4.351145
5   5.000         2.977099
6   5.000         4.961832
7   8.125        10.000000
8   3.750         1.068702
9  10.000         3.511450

In [ ]:
# p6?\
"""
کلاس RobustScaler از کتابخانه sklearn.preprocessing یک متد است که به داده‌ها مقیاسبندی انجام می‌دهد. این متد برای مقیاسبندی داده‌ها با استفاده از میانه و کوچکترین و بزرگترین مقادیر استفاده می‌شود. مزیت این روش نسبت به استفاده از میانگین و انحراف معیار این است که این روش از داده‌های پرت (outliers) تحت تاثیر قرار نمی‌گیرد.
"""

# import pandas as pd
# from sklearn.preprocessing import RobustScaler
#
# df = pd.read_csv('dataset/Social_Network_Ads.csv')
#
# scaler = RobustScaler()
#
# df_scaled = scaler.fit_transform(df)
#
# df_scaled = pd.DataFrame(df_scaled, columns=df.columns)
#
# print(df_scaled.head(20))

In [27]:
# p7-1
"""

تبدیل hot-one یا One-Hot Encoding یک روش مبتنی بر دسته‌بندی است که برای تبدیل متغیرهای کیفی به متغیرهای کمی استفاده می‌شود. هدف این تبدیل این است که متغیرهای کیفی یا دسته‌ای را به متغیرهای دودویی یا دسته‌ای با مقادیر عددی تبدیل کند تا بتوانیم آن‌ها را به عنوان ورودی برای مدل‌های یادگیری ماشین استفاده کنیم.

"""


from sklearn.preprocessing import LabelEncoder
p7 = pd.read_csv('dataset/Social_Network_Ads.csv')

le = LabelEncoder()
p7['Gender'] = le.fit_transform(df['Gender'])
p7.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0
5  15728773       1   27            58000          0
6  15598044       0   27            84000          0
7  15694829       0   32           150000          1
8  15600575       1   25            33000          0
9  15727311       0   35            65000          0

In [33]:
# p7-2
from sklearn.preprocessing import LabelEncoder
p7 = pd.read_csv('dataset/Social_Network_Ads.csv')


le = LabelEncoder()
p7['Gender'] = le.fit_transform(df['Gender'])
p7['Gender'] = le.inverse_transform(df['Gender'])
p7.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0
5  15728773       1   27            58000          0
6  15598044       0   27            84000          0
7  15694829       0   32           150000          1
8  15600575       1   25            33000          0
9  15727311       0   35            65000          0